*/__pycache__
*/temp
*/*/temp
temp
__pycache__
traces
*.xlsx
*.jsonl
.DS_Store
.idea/
templates/.DS_Store

movie
run.sh

venv
temp
traces
logs
logs/*
**/__pycache__
test
.env
evaluation_logs
tools-old/*

# webarena
.auth/

Screen_shot
traces

config_files*/*0.json
config_files*/*1.json
config_files*/*2.json
config_files*/*3.json
config_files*/*4.json
config_files*/*5.json
config_files*/*6.json
config_files*/*7.json
config_files*/*8.json
config_files*/*9.json

config_files/evaluation.yaml
config_files/test.yaml
tools/config_to_excel.py



*.ipynb

example/*
reward/*
outputs/*
AppAgent/apps/*
*.log
%local%*
*.xlsx

assets/*
configs/*
agent/llm/gpt_oneapi.py
agent/llm/glm_model.py
agent/mllm/cogagent.py
agent/mllm/cogagent_old.py
delete*
eval.sh
generate_pass_k.py
generate_result_debug.py
model_server*
test-*
sample.sh
test.py
utils_mobile-old/
android_env
android_env/*
android_world
android_world/*
new_activate.txt
run-aw.sh
run-android-world-test.sh
configs/*
sample_dump/
fetch_ir_task.py
offline_sample/
eval-androidworld-debug.py
android_world_sample_collect.py
android_world_sample_copy.py
sample-round.sh